# always needed
requests
pexpect

# needed for development
bumpversion
wheel
twine
keyring
sphinx
nose
responses

# needed for preview UI
# Since wxPython installation is a project in itself,
# we leave it out in the default virtual env installation
# wxPython
# PyMuPDF

